@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --radius: 0.375rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.511 0.262 276.966);
  --primary-foreground: oklch(0.984 0.003 264.542);
  --secondary: oklch(0.968 0.014 264.536);
  --secondary-foreground: oklch(0.257 0.09 264.531);
  --muted: oklch(0.968 0.014 264.536);
  --muted-foreground: oklch(0.554 0.046 264.436);
  --accent: oklch(0.968 0.014 264.536);
  --accent-foreground: oklch(0.257 0.09 264.531);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.928 0.006 264.531);
  --input: oklch(0.928 0.006 264.531);
  --ring: oklch(0.511 0.262 276.966);
  --chart-1: oklch(0.511 0.262 276.966);
  --chart-2: oklch(0.585 0.233 277.117);
  --chart-3: oklch(0.457 0.24 277.023);
  --chart-4: oklch(0.398 0.195 277.366);
  --chart-5: oklch(0.359 0.144 278.697);
  --sidebar: oklch(0.985 0.007 264.536);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.511 0.262 276.966);
  --sidebar-primary-foreground: oklch(0.984 0.003 264.542);
  --sidebar-accent: oklch(0.968 0.014 264.536);
  --sidebar-accent-foreground: oklch(0.257 0.09 264.531);
  --sidebar-border: oklch(0.928 0.006 264.531);
  --sidebar-ring: oklch(0.511 0.262 276.966);
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 264.542);
  --card: oklch(0.168 0.063 264.695);
  --card-foreground: oklch(0.984 0.003 264.542);
  --popover: oklch(0.168 0.063 264.695);
  --popover-foreground: oklch(0.984 0.003 264.542);
  --primary: oklch(0.585 0.233 277.117);
  --primary-foreground: oklch(0.129 0.042 264.695);
  --secondary: oklch(0.257 0.09 264.531);
  --secondary-foreground: oklch(0.984 0.003 264.542);
  --muted: oklch(0.257 0.09 264.531);
  --muted-foreground: oklch(0.726 0.015 264.422);
  --accent: oklch(0.257 0.09 264.531);
  --accent-foreground: oklch(0.984 0.003 264.542);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.585 0.233 277.117);
  --chart-1: oklch(0.585 0.233 277.117);
  --chart-2: oklch(0.511 0.262 276.966);
  --chart-3: oklch(0.663 0.19 277.155);
  --chart-4: oklch(0.457 0.24 277.023);
  --chart-5: oklch(0.398 0.195 277.366);
  --sidebar: oklch(0.168 0.063 264.695);
  --sidebar-foreground: oklch(0.984 0.003 264.542);
  --sidebar-primary: oklch(0.585 0.233 277.117);
  --sidebar-primary-foreground: oklch(0.129 0.042 264.695);
  --sidebar-accent: oklch(0.257 0.09 264.531);
  --sidebar-accent-foreground: oklch(0.984 0.003 264.542);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.585 0.233 277.117);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}